<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>RUML-rg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External includes  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next/dist/vue.js"></script>

    <!-- Local includes -->
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>
      Reading list
    </h1>

    <h3 data-toggle="collapse" data-target="#papers-past" style="cursor: pointer;">
      Past<span class="glyphicon glyphicon-menu-hamburger" style="padding:10px"/>
    </h3>
    <div id="papers-past" class="container-fluid collapse">
      <div id="app-past">
        <ol>
          <li v-for="paper in papers">
            <div v-html="paper.text" class="well well-sm paper-past" style="margin-top: 7px; margin-bottom: 0px; margin-left: -20px; word-wrap: break-word">
            </div>
          </li>
        </ol>
      </div>
    </div>

    <h3 data-toggle="collapse" data-target="#papers-current" style="cursor: pointer;">
      Present<span class="glyphicon glyphicon-menu-hamburger" style="padding:10px"/>
    </h3>
    <div id="papers-current" class="container-fluid collapse">
      <div id="app-current">
        <ol>
          <li v-for="paper in papers">
            <div v-html="paper.text" class="well well-sm paper-current" style="margin-top: 7px; margin-bottom: 0px; margin-left: -20px; word-wrap: break-word">
            </div>
          </li>
        </ol>
      </div>
    </div>

    <h3 data-toggle="collapse" data-target="#papers-future" style="cursor: pointer;">
      Future<span class="glyphicon glyphicon-menu-hamburger" style="padding:10px"/>
    </h3>
    <div id="papers-future" class="container-fluid collapse">
      <div id="app-future">
        <ol>
          <li v-for="paper in papers">
            <div v-html="paper.text" class="well well-sm paper-future" style="margin-top: 7px; margin-bottom: 0px; margin-left: -20px; word-wrap: break-word">
            </div>
          </li>
        </ol>
      </div>
    </div>

  </body>
  <script type='text/javascript' src='main.js'></script>
</html>
