html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol {
  list-style: none;
}

h2 {
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 10px;
}

h3 {
  margin-left: 30px;
}

body {
  padding-bottom: 6rem;
  position: relative;
  min-height: 100%;
}

.paper-future {
  background-color: rgba(94, 96, 98, 0.5);
  color: white;
}

.paper-current {
  background-color: rgba(0, 36, 106, 0.75);
  color: white;
}

.paper-past {
  background-color: rgba(51,153,0, 1);
  color: white;
}

span.glyphicon-menu-hamburger {
  font-size: .8em;
}

#reading_list {
  margin: 0 auto;
}

#footer {
  background-color: rgba(0, 36, 106, 0.8);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: .8em;
}

#footer a {
  font-style: normal;
  color: white;
}

#title {
  padding-left: 10px;
  /*background-color: rgba(94, 96, 98, 0.5);*/
  /*border-left: 10px solid black;*/
  /*border-top: 10px solid black;*/
}

#title h1 {
  color: rgba(0, 36, 106, 1);
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 5px;
}

#main {
  border-left: 10px solid black;
}
